<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	 			<h1>National Academic Depository</h1>
	 			<p>
	 			National Academic Depository (NAD) is a 24X7 online store house of all academic awards <br>
	 			viz.certificates, diplomas, degrees, mark-sheets etc. duly digitised and lodged by academic institutions.
	 			</p>
	 			
	 			<button class="btn bg-primary btn-lg text-white">For More</button>
	
	
	
	
	</div>
	

</section>
	
</body>
</html>